body{
    background-image: URL(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTR7Z1YBRaPMunV6qs9cG0VBa6jZl86dhiKAHaTJglkIWtB6fGFWwLS7mS79abn9AvGS1Y&usqp=CAU););
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 150px;
    
    display: flex;
    align-items: center;
    justify-content: center;
}
.mahi{
    background-color: rgba(60, 36, 213, 0.663);
    padding: 30px;
    border-style: 2px groove black;

    border-radius: 7%;

}
.ms{
    display: flex;
    align-items: center;
    justify-content: center;
}
